<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
<!-- creating beans for the 1 class -->
  <bean id="t1" class="com.beans.Sample_Prog" scope="prototype">
  <property name="s" value="Good morning"></property>
  </bean>
  
<!-- creating beans for the 2 class -->
  <bean id="t2" class="com.beans.Sample_Prog2" scope="prototype">
  </bean>
  
<!-- creating class with parameterized constructor -->
  <bean id='t3' class="com.beans.Sample_Prog2" scope="singleton">
     <constructor-arg value=101 type="Int"/>
     <constructor-arg  value="Abhi" type="String"/>
  </bean>
  
</beans>			